# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
!WallpaperEngineExporter.xcodeproj

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets / local config
*.mobileprovision
*.p12
*.cer
Secrets.xcconfig
.env
*.pem

# Temporary export files
/tmp/WEE_*
